<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>XenoKART | <%= title %></title>
</head>
<body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/logo.png" width="150" height="40">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/products">
              Home
            </a>
      
            <a class="navbar-item" href="/orders">
              Orders
            </a>
            <a class="navbar-item">
              <form method="POST" action="/search-query">
                <div class="field has-addons" style="width: 570px">
                  <div class="control is-expanded">
                    <input type="text" name="query" placeholder="Search Product" class="input" />
                  </div>
                  <div class="control">
                    <button type="submit" class="button is-primary is-light">Search</button>
                  </div>
                </div>
              </form>
            </a>
          </div>
          <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                More
              </a>
              <div class="navbar-dropdown">
                <a class="navbar-item" style="color:black">
                  Profile
                </a>
                <a class="navbar-item" style="color:black">
                  About Us
                </a>
                <a class="navbar-item" style="color:black">
                  Contact
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item" style="color:black">
                  Report an issue
                </a>
              </div>
            </div>
          <%if(!isloggedin){%>
            <div class="navbar-item">
                <div class="buttons">
                    <button class="button is-warning">
                        <a href="/cart">
                            <span class="icon">
                                <span class="fa-stack">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </span>
                            </span>
                            <span>Cart Item</span>
                            <span class="icon">
                                <span class="fa-stack">
                                    <span class="fa fa-circle-o fa-stack-2x"></span>
                                    <strong class="fa-stack-3x">
                                        <%= cart_size %>
                                    </strong>
                                </span>
                            </span>
                        </a>
                    </button>
                    <a class="button is-primary" href="/register">
                    <strong>Register</strong>
                    </a>
                    <a class="button is-info" href="/login">
                    Log in
                    </a>
                </div>
            </div>
          <%}else{%>
          </div>
            <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    <button class="button is-warning">
                      <a href="/cart">
                          <span class="icon">
                              <span class="fa-stack">
                                  <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                              </span>
                          </span>
                          <span>Cart Item</span>
                          <span class="icon">
                              <span class="fa-stack">
                                  <span class="fa fa-circle-o fa-stack-2x"></span>
                                  <strong class="fa-stack-3x">
                                      <%= cart_size %>
                                  </strong>
                              </span>
                          </span>
                      </a>
                  </button>
                    <a class="button is-primary" href="/logout">
                      <strong>Logout</strong>
                    </a>
                  </div>
                </div>
            </div>
        <%}%>
        </div>
      </nav>