<%- include("partials/header") -%>
<div class="box">
    <p class="title is-2" style="color:cyan">We have sent you a Confirmation Mail.</p>
    <br>
    <p class="title is-2" style="color:cyan">Please check your Mail.</p>
</div>
<%- include("partials/footer") -%>