<%- include("partials/header") -%>

<div class="column is-offset-4 is-4">
    <div class="card" style="background-color: ghostwhite;">
        <div class="card-content">
            <div class="media">
            <div class="media-content">
                <center><p class="title is-2" style="color:gray;">REGISTER</p></center>
            </div>
            </div>
            <div class="content">
                <form action="/register" method="post">
                    <div class="field">
                        <input type="text" required class="input" name="name" placeholder="Name">
                    </div>
                    <div class="field">
                        <input type="email" required class="input" name="username" placeholder="Email">
                    </div>
                    <div class="field">
                        <input type="Number" required class="input" min="1000000000" max="9999999999" name="mobile" placeholder="Mobile No">
                    </div>
                    <div class="field">
                        <input type="text" required class="input" name="address" placeholder="Address">
                    </div>
                    <div class="field">
                        <input type="password" required class="input" name="password" placeholder="Password">
                    </div>
                    <div class="field">
                        <button type="submit" class="button is-success">Register</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
</div>

<%- include("partials/footer") -%>